companyweb/flows/Call_CompanyWeb_API_on_Account_Creation_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Call_CW_to_Update_Account</name>
        <label>Call CW to Update Account</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <actionName>01p7Q00000OeNtqNotFound</actionName>
        <actionType xsi:nil="true"/>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>AccountCollection</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Call_CW_to_Update_Account_0</name>
        <label>Call CW to Update Account</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>01p7Q00000OeNtqNotFound</actionName>
        <actionType xsi:nil="true"/>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>AccountCollection</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_Account_Record_to_Collection</name>
        <label>Add Account Record to Collection</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>AccountCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_CW_to_Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Account_Record_to_Collection_0</name>
        <label>Add Account Record to Collection</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>AccountCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_CW_to_Update_Account_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_CW_VAT_Number_Field_Null</name>
        <label>Is CW VAT Number Field Null?</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Add_Account_Record_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CW_VAT_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_a_Current_Account_VAT_Number_Field</name>
        <label>Is There a Current Account VAT Number Field</label>
        <locationX>248</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Is_CW_VAT_Number_Field_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Account_VAT_Number_Field.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Account_Record_to_Collection_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Call CompanyWeb API on Account Creation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Call CompanyWeb API on Account Creation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Current_Account_VAT_Number_Field</name>
        <label>Get Current Account VAT Number Field</label>
        <locationX>248</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_There_a_Current_Account_VAT_Number_Field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Login</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_VAT_Number_Field__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CW_Login_Setup__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Account_VAT_Number_Field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CW_Avoid_Callout__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
